.name {
  font-size: 14px;
  font-weight: 600;
}

/* 댓글 기능 */
.newComment {
  font-size: 14px;
  margin-left: 4px;
}

.newDiv {
  margin-left: 16px;
  padding-right: 10px;
  position: relative;
}

.heartIcon {
  width: 12px;
  opacity: 50%;
}

.heartIcon-box {
  position: absolute;
  right: 17px;
}

main {
  background-color: #fafafa;
  width: 100%;
}
